{{>header}}

  <div class="private">

    {{>partial/session_messages}}
    {{#is_destroyed}}
    <div class="alert alert-error">
      <button type="button" class="btn-faux" data-dismiss="alert">&times;</button>
      <h4>Cannot burn!</h4>
      {{#is_received}}The secret has already been viewed ({{received_date}}).{{/is_received}}
      {{#is_burned}}The secret has already been burned ({{burned_date}}).{{/is_burned}}
    </div>

    <a class="main-btn" href="{{metadata_uri}}">Back</a>
    {{/is_destroyed}}


    {{^is_destroyed}}
    <div class="secret">
      <h2>{{i18n.COMMON.secret}}: {{secret_shortkey}}</h2>
      {{#has_passphrase}}
      <h2>{{i18n.page.requires_passphrase}}</h2>
      {{/has_passphrase}}
    </div>

    <form method="POST">
      {{{add_shrimp}}}
      <input type="hidden" name="continue" value="true" />
      <div class="control-group passphrase">
        {{#has_passphrase}}
          <input type="password" name="passphrase" id="passField" class="input-large" value="" placeholder="Enter the passphrase here" />
        {{/has_passphrase}}
      </div>
      <button class="main-btn" type="submit"> {{i18n.COMMON.word_confirm}}: {{i18n.COMMON.burn_this_secret}}</button>
      <a class="btn-faux" href="{{metadata_uri}}">{{i18n.COMMON.word_cancel}}</a>
      <hr/>
      <p>{{i18n.COMMON.burn_this_secret_confirm_hint}}</p>
    </form>
    {{/is_destroyed}}

  </div>
