{{>header}}

  <div id="content">

    <h1>Page not found</h1>

    {{>partial/session_messages}}

    <ul class="nav">
      <li class="alt"><a href="/"></a></li>
    </ul>

    <a class="btn-main" href="/">Go share a secret!</a>

  </div>