{{>header}}

  <div class="private">

    {{#show_secret_link}}
    <div class="uri">
      <h2>{{i18n.page.pretext}}</h2><br/>
      <input id="secreturi" class="selectable" value="{{share_uri}}" readonly="readonly" />
      {{#has_passphrase}}
      <h4>{{i18n.page.requires_passphrase}}</h4>
      {{/has_passphrase}}
    </div>
    {{/show_secret_link}}

    {{#show_metadata}}
    {{#recipients}}
    <h2>{{i18n.COMMON.sent_to}} {{to_s}}</h2>
    {{/recipients}}
    {{/show_metadata}}

    {{#show_secret}}
    <div class="secret">
      {{^can_decrypt}}
      <em>{{i18n.COMMON.secret}} ({{secret_shortkey}}):</em><br/>
      <input class="selectable" id="displayedsecret" value="{{i18n.page.this_msg_is_encrypted}}" />
      {{/can_decrypt}}
      {{#can_decrypt}}

      {{#truncated}}
      <div class="alert alert-info smaller">
        <button type="button" class="btn-faux" data-dismiss="alert">&times;</button>
        <h4>{{i18n.COMMON.warning}}</h4> {{i18n.page.secret_was_truncated}} {{secret_value.size.to_bytes}}.
        {{^authenticated}}<a href="/signup">{{i18n.COMMON.signup_for_more}}</a>{{/authenticated}}.
      </div>
      {{/truncated}}

      <h4>{{i18n.COMMON.secret}} ({{secret_shortkey}}):</h4> <p>({{i18n.page.only_see_once}})</p><br/>
      <textarea class="input-block-level" readonly="readonly" rows="{{display_lines}}">{{secret_value}}</textarea>

      {{/can_decrypt}}
    </div>
    {{/show_secret}}

    {{^show_secret}}
    <div class="secret">
      <span class="pretext">{{i18n.COMMON.secret}} ({{secret_shortkey}}):</span> <br/>
      <input value="*******************" disabled="disabled" />
    </div>
    {{/show_secret}}

    <p>
      {{#is_received}}
      <h4>{{i18n.COMMON.received}} {{received_date}}.</h4>
      <p>({{received_date_utc}})</p>
      {{/is_received}}

      {{#is_burned}}
      <h4>{{i18n.COMMON.burned}} {{burned_date}}.</h4>
      <p>({{burned_date_utc}})</p>
      {{/is_burned}}

      {{^is_destroyed}}
      <h4>{{i18n.COMMON.expires_in}} {{expiration_stamp}}</h4>.
      <p>({{created_date_utc}})</p>
      {{/is_destroyed}}
    </p>

    <hr/>
    {{^is_destroyed}}
    <a class="main-btn" href="{{burn_uri}}"> {{i18n.COMMON.burn_this_secret}}*</a>

    <hr/>
    <p>* {{i18n.COMMON.burn_this_secret_hint}}.</p>
    {{/is_destroyed}}

    <hr/>
    <p><a class="btn-faux" href="/">Create another secret</a></p>

    {{#show_metadata_link}}
    <!--
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Remember this page to find out when the secret was viewed..
    </div>
    -->
    {{/show_metadata_link}}

    {{#show_secret}}
    <div id="faq" class="smaller">
      <h1>F.A.Q.</h1>
      
    <ul class="accordion">
      <li>
        <a class="toggle" href="javascript:void(0);"><h3><span class="red">+</span>Why can't I see the secret value?</h3></a>
        <div class="inner">
          <p>We display the value for you so that you can verify it but we do that once so that if someone gets this private page (in your browser history or if you accidentally send the private link instead of the secret one), they won't see the secret value.</p>
        </div>
      </li>  

      <li>
        <a class="toggle" href="javascript:void(0);"><h3><span class="red">+</span>What happens when I burn a secret?</h3></a>
        <div class="inner">
          <p>Burning a secret will delete it before it has been read. If you send someone a secret link and burn the secret before they view it, they will not be able to read it. In fact, it will look to them like the secret never existed at all.</p>
        </div>
      </li>

      <li>
        <a class="toggle" href="javascript:void(0);"><h3><span class="red">+</span>Why can I only see the secret value once?</h3></a>
        <div class="inner">
          <p>We display the value for you so that you can verify it but we do that once so that if someone gets this private page (in your browser history or if you accidentally send the private link instead of the secret one), they won't see the secret value.</p>
        </div>
      </li>

      <li>
        <a class="toggle" href="javascript:void(0);"><h3><span class="red">+</span>How long will the secret be available?</h3></a>
        <div class="inner">
          <p>The secret link will be available for {{expiration_stamp}} or until it's viewed.</p>
        </div>
      </li>
    </ul>
    </div>

    {{/show_secret}}

    {{^show_secret}}
    <div id="faq" class="smaller">
      <h1>F.A.Q.</h1>

      <ul class="accordion">
      {{^show_secret_link}}

      <li>
        <a class="toggle" href="javascript:void(0);"><h3><span class="red">+</span>What if I forgot to copy the shared link?</h3></a>
        <div class="inner">
          <p>You need to create a new secret. We can't retrieve it for you.</p>
        </div>
      </li>
      {{/show_secret_link}}

      <li>
        <a class="toggle" href="javascript:void(0);"><h3><span class="red">+</span>How long will the secret be available?</h3></a>
        <div class="inner">
          <p>The secret link will be available for {{expiration_stamp}} or until it's viewed.</p>
        </div>
      </li>  

      <li>
        <a class="toggle" href="javascript:void(0);"><h3><span class="red">+</span>What happens when I burn a secret?</h3></a>
        <div class="inner">
          <p>Burning a secret will delete it before it has been read. If you send someone a secret link and burn the secret before they view it, they will not be able to read it. In fact, it will look to them like the secret never existed at all.</p>
        </div>
      </li>
      </ul>
    </div>
    {{/show_secret}}
  </div>
