{{>header}}

  {{^verification}}
  {{#is_owner}}
    {{^show_secret}}
    <div class="alert alert-warning">
      <button type="button" class="btn-faux" data-dismiss="alert">&times;</button>
      <h4>{{i18n.COMMON.warning}}</h4> {{i18n.page.you_created_this_secret}}
    </div>
    {{/show_secret}}
    {{#show_secret}}
    <div class="alert alert-info">
      <button type="button" class="btn-faux" data-dismiss="alert">&times;</button>
      {{i18n.page.viewed_own_secret}}
    </div>
    {{/show_secret}}
  {{/is_owner}}
  {{/verification}}

  <div class="shared">
    {{^show_secret}}
    {{^has_passphrase}}
    {{#verification}}
    <h2>{{i18n.COMMON.click_to_verify}}</h2><br/>
    {{/verification}}
    {{^verification}}
    <h2>{{i18n.COMMON.click_to_continue}}</h2><br/>
    {{/verification}}
    {{/has_passphrase}}
    {{#has_passphrase}}
    <h2>{{i18n.page.requires_passphrase}}</h2>
    {{/has_passphrase}}
    {{>partial/session_messages}}

    {{#show_secret}}
    <div class="secret">
      {{#verification}}
      <h2>{{i18n.page.your_secret_message}}</h2><br/>
      {{/verification}}
      {{^verification}}
      <h2>{{i18n.page.this_message_for_you}}</h2>
      {{/verification}}

      <textarea class="input-block-level" readonly="readonly" rows="{{display_lines}}">{{secret_value}}</textarea>

      {{^verification}}
      <p>({{i18n.COMMON.careful_only_see_once}})</p>
      {{/verification}}

      {{#truncated}}
      <div class="alert alert-info smaller">
        <button type="button" class="btn-faux" data-dismiss="alert">&times;</button>
        <h4>{{i18n.COMMON.warning}}</h4> {{i18n.page.secret_was_truncated}} {{secret_value.size.to_bytes}}.
        {{^authenticated}}<a href="/signup">{{i18n.COMMON.signup_for_more}}</a>.{{/authenticated}}
      </div>
      {{/truncated}}

    </div>
    <ul class="nav">
      <li class="alt">
        {{^verification}}
        {{^is_subdomain}}
        <a class="main-btn" href="/">{{i18n.page.reply_with_secret}}</a>
        {{/is_subdomain}}
        {{#is_subdomain}}
        <a class="main-btn" href="{{subdomain.homepage}}">Return to {{subdomain.company_domain}}</a>
        {{/is_subdomain}}
        {{/verification}}
      </li>
    </ul>
    {{/show_secret}}
  </div>
