
{{#messages.info}}
<div class="alert alert-info">
  <button type="button" class="btn-faux" data-dismiss="alert">&times;</button>
  {{to_s}}
</div>
{{/messages.info}}

{{#messages.error}}
<div class="alert alert-error">
  <button type="button" class="btn-faux" data-dismiss="alert">&times;</button>
  <h4>{{i18n.COMMON.oops}}</h4> {{to_s}}
</div>
{{/messages.error}}
